flows (3).json
[{"id":"495de7bd.2bf878","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d383b36c.ee712","type":"function","z":"495de7bd.2bf878","name":"","func":"var d=msg.payload.date\nvar t=msg.payload.time\n\nmsg.payload={\n    \"_id\":d+\" \"+t,\n    \"name\":msg.payload.name\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":80,"wires":[["d836fe4e.3f269","4176511f.e9f9e"]]},{"id":"d836fe4e.3f269","type":"cloudant out","z":"495de7bd.2bf878","name":"","cloudant":"","database":"medicine","service":"node-red-tufrw-2021--cloudant-1621491271136-83758","payonly":true,"operation":"insert","x":550,"y":80,"wires":[]},{"id":"16d5703b.a99c7","type":"ui_form","z":"495de7bd.2bf878","name":"","label":"","group":"c70c9095.c4a25","order":1,"width":0,"height":0,"options":[{"label":"Enter Medicine Name","value":"name","type":"text","required":true,"rows":null},{"label":"Time(HH:MM) in 24 hr format","value":"time","type":"text","required":true,"rows":null},{"label":"Date(YYYY-MM-DD)","value":"date","type":"text","required":true,"rows":null}],"formValue":{"name":"","time":"","date":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":170,"y":80,"wires":[["d383b36c.ee712","7b4106a0.16ba98"]]},{"id":"4176511f.e9f9e","type":"debug","z":"495de7bd.2bf878","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":210,"y":340,"wires":[]},{"id":"71dbf39b.9a85fc","type":"watson-text-to-speech","z":"495de7bd.2bf878","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_AllisonV3Voice","voicehidden":"en-US_AllisonV3Voice","format":"audio/wav","password":"","apikey":"yXCidqZMRPj4qvA3MAhiY7DznWLsO_cEf3urYEt1BFpP","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/77cfc001-dd6d-49eb-bd6a-92e3a040f2d4","x":560,"y":120,"wires":[["8ee4df06.53b0e"]]},{"id":"8ee4df06.53b0e","type":"play audio","z":"495de7bd.2bf878","name":"","voice":"0","x":790,"y":120,"wires":[]},{"id":"7bc12786.f7ecb8","type":"inject","z":"495de7bd.2bf878","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":220,"wires":[["9385c4f8.578f58"]]},{"id":"93b11dfb.c89e2","type":"cloudant in","z":"495de7bd.2bf878","name":"","cloudant":"","database":"medicine","service":"node-red-tufrw-2021--cloudant-1621491271136-83758","search":"_id_","design":"","index":"","x":400,"y":220,"wires":[["e83e7ae0.862588"]]},{"id":"9385c4f8.578f58","type":"function","z":"495de7bd.2bf878","name":"","func":"var d = new Date();\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\nvar offset = 5.5;\nnewDate = new Date(utc + (3600000*offset));\nvar n = newDate.toISOString()\nvar date = n.slice(0,10)\nvar time = n.slice(11,16)\nglobal.set('time',time)\nmsg.payload = date+\" \"+time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":280,"wires":[["93b11dfb.c89e2"]]},{"id":"b8cc018.64a58","type":"function","z":"495de7bd.2bf878","name":"","func":"msg.payload={\n    \"command\":msg.payload.name\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":220,"wires":[["d8fa2a76.b8c898","185dae52.1b6f72"]]},{"id":"e83e7ae0.862588","type":"switch","z":"495de7bd.2bf878","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":280,"wires":[[],["b8cc018.64a58","6640bfe6.afcd1","f128777.09a9988"]]},{"id":"d8fa2a76.b8c898","type":"debug","z":"495de7bd.2bf878","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":220,"wires":[]},{"id":"185dae52.1b6f72","type":"ibmiot out","z":"495de7bd.2bf878","authentication":"apiKey","apiKey":"817a57ff.ab9378","outputType":"cmd","deviceId":"12345","deviceType":"Esp32","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":860,"y":280,"wires":[]},{"id":"38e77321.a4389c","type":"function","z":"495de7bd.2bf878","name":"","func":"msg.payload = msg.payload.name\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":120,"wires":[["71dbf39b.9a85fc"]]},{"id":"c91a084b.ca3388","type":"ibmiot out","z":"495de7bd.2bf878","authentication":"apiKey","apiKey":"817a57ff.ab9378","outputType":"cmd","deviceId":"12345","deviceType":"Esp32","eventCommandType":"home","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":760,"y":420,"wires":[]},{"id":"ff2c4b62.b9cd78","type":"http in","z":"495de7bd.2bf878","name":"","url":"/button","method":"get","upload":false,"swaggerDoc":"","x":190,"y":600,"wires":[["b9d03324.1e70f"]]},{"id":"72790815.0c5668","type":"debug","z":"495de7bd.2bf878","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":600,"wires":[]},{"id":"5a450fae.c5cfc","type":"http response","z":"495de7bd.2bf878","name":"","statusCode":"","headers":{},"x":570,"y":660,"wires":[]},{"id":"b9d03324.1e70f","type":"function","z":"495de7bd.2bf878","name":"","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":600,"wires":[["72790815.0c5668","c91a084b.ca3388","5a450fae.c5cfc"]]},{"id":"c150858.b1ba678","type":"ui_text_input","z":"495de7bd.2bf878","name":"","label":"Enter Number","tooltip":"","group":"f006468.9021eb8","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"topic","topicType":"msg","x":200,"y":480,"wires":[["4149208.2f3d4e"]]},{"id":"4149208.2f3d4e","type":"switch","z":"495de7bd.2bf878","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"8","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":480,"wires":[["c91a084b.ca3388","6656842.bca857c","ba628e6.53af97"],["6af55e2.be11aa"]]},{"id":"1e885c58.e59654","type":"ui_toast","z":"495de7bd.2bf878","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":870,"y":480,"wires":[[]]},{"id":"6af55e2.be11aa","type":"function","z":"495de7bd.2bf878","name":"","func":"msg.payload = \"Enter any number below 7\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":480,"wires":[["1e885c58.e59654"]]},{"id":"135d85b2.c8a4ba","type":"ui_toast","z":"495de7bd.2bf878","position":"top right","displayTime":"3","highlight":"Green","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":810,"y":340,"wires":[]},{"id":"6656842.bca857c","type":"switch","z":"495de7bd.2bf878","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"4","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":360,"wires":[["18ee9d71.4eb2a3"]]},{"id":"ba628e6.53af97","type":"switch","z":"495de7bd.2bf878","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"5","vt":"num","v2":"8","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":420,"wires":[["c2ba7830.2c5b18"]]},{"id":"2faaf8fd.6e61a8","type":"ui_toast","z":"495de7bd.2bf878","position":"top right","displayTime":"3","highlight":"Red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":810,"y":380,"wires":[]},{"id":"18ee9d71.4eb2a3","type":"function","z":"495de7bd.2bf878","name":"","func":"msg.payload = \"Light on\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":360,"wires":[["135d85b2.c8a4ba"]]},{"id":"c2ba7830.2c5b18","type":"function","z":"495de7bd.2bf878","name":"","func":"msg.payload = \"Light off\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":400,"wires":[["2faaf8fd.6e61a8"]]},{"id":"71dcaf8c.394de","type":"ui_text","z":"495de7bd.2bf878","group":"f006468.9021eb8","order":1,"width":0,"height":0,"name":"","label":"Switches:","format":"Switch 1 ON-enter 1,     Switch 1 OFF-enter 5,     Switch 2 ON-enter 2,     Switch 2 OFF-enter 6,     Switch 3 ON-enter 3,     Switch 3 OFF-enter 7,     Switch 4 ON-enter 4,     Switch 4 OFF-enter 8","layout":"row-left","x":500,"y":720,"wires":[]},{"id":"8f8e3e83.a3773","type":"http in","z":"495de7bd.2bf878","name":"","url":"/button","method":"get","upload":false,"swaggerDoc":"","x":290,"y":760,"wires":[["ae8e34aa.e5c708"]]},{"id":"e7c3bf06.f4b17","type":"debug","z":"495de7bd.2bf878","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":760,"wires":[]},{"id":"1c07dce9.78cb03","type":"http response","z":"495de7bd.2bf878","name":"","statusCode":"","headers":{},"x":730,"y":840,"wires":[]},{"id":"ae8e34aa.e5c708","type":"function","z":"495de7bd.2bf878","name":"","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":780,"wires":[["e7c3bf06.f4b17","1c07dce9.78cb03"]]},{"id":"6640bfe6.afcd1","type":"function","z":"495de7bd.2bf878","name":"","func":"msg.payload = \"you need to take \"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":180,"wires":[["71dbf39b.9a85fc"]]},{"id":"f128777.09a9988","type":"delay","z":"495de7bd.2bf878","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":200,"y":180,"wires":[["38e77321.a4389c"]]},{"id":"7b4106a0.16ba98","type":"function","z":"495de7bd.2bf878","name":"","func":"msg.payload = msg.payload.name\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":60,"wires":[["c91a084b.ca3388"]]},{"id":"c70c9095.c4a25","type":"ui_group","name":"Medicine Remainder","tab":"1dfe94c5.fe6efb","order":1,"disp":true,"width":7,"collapse":false},{"id":"817a57ff.ab9378","type":"ibmiot","name":"Smart","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"f006468.9021eb8","type":"ui_group","name":"Home Automation","tab":"1dfe94c5.fe6efb","order":2,"disp":true,"width":8,"collapse":false},{"id":"1dfe94c5.fe6efb","type":"ui_tab","name":"Project","icon":"dashboard","order":8,"disabled":false,"hidden":false}]