project flow.json
[{"id":"85c4deef.74d66","type":"tab","label":"Project","disabled":false,"info":""},{"id":"ccc4593e.7fea18","type":"inject","z":"85c4deef.74d66","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":80,"wires":[["b5b21ba1.147058"]]},{"id":"a9136168.3a85","type":"cloudant in","z":"85c4deef.74d66","name":"","cloudant":"","database":"medicine","service":"node-red-tufrw-2021--cloudant-1621491271136-83758","search":"_id_","design":"","index":"","x":320,"y":80,"wires":[["9662bc01.716e8"]]},{"id":"b5b21ba1.147058","type":"function","z":"85c4deef.74d66","name":"","func":"var d = new Date();\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\nvar offset = 5.5;\nnewDate = new Date(utc + (3600000*offset));\nvar n = newDate.toISOString()\nvar date = n.slice(0,10)\nvar time = n.slice(11,16)\nglobal.set('time',time)\nmsg.payload = date+\" \"+time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":140,"wires":[["a9136168.3a85"]]},{"id":"23530480.c18e7c","type":"function","z":"85c4deef.74d66","name":"","func":"msg.payload={\n    \"command\":msg.payload.name\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":80,"wires":[["541d1dc3.05e0e4","531a6851.682428"]]},{"id":"9662bc01.716e8","type":"switch","z":"85c4deef.74d66","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":140,"wires":[[],["23530480.c18e7c"]]},{"id":"541d1dc3.05e0e4","type":"debug","z":"85c4deef.74d66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":80,"wires":[]},{"id":"8e670e98.a335d","type":"function","z":"85c4deef.74d66","name":"","func":"var d=msg.payload.date\nvar t=msg.payload.time\nmsg.payload={\n    \"_id\":d+\" \"+t,\n    \"name\":msg.payload.name\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":240,"wires":[["93dc4c48.9febf","3063bfd5.031f6"]]},{"id":"3063bfd5.031f6","type":"cloudant out","z":"85c4deef.74d66","name":"","cloudant":"","database":"medicine","service":"node-red-tufrw-2021--cloudant-1621491271136-83758","payonly":true,"operation":"insert","x":400,"y":240,"wires":[]},{"id":"e89b86d1.804f58","type":"ui_form","z":"85c4deef.74d66","name":"","label":"","group":"c70c9095.c4a25","order":12,"width":0,"height":0,"options":[{"label":"Enter Medicine Name","value":"name","type":"text","required":true,"rows":null},{"label":"Time(HH:MM) in 24 hr format","value":"time","type":"text","required":true,"rows":null},{"label":"Date(YYYY:MM:DD)","value":"date","type":"text","required":true,"rows":null}],"formValue":{"name":"","time":"","date":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":110,"y":320,"wires":[["8e670e98.a335d"]]},{"id":"93dc4c48.9febf","type":"debug","z":"85c4deef.74d66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":300,"wires":[]},{"id":"531a6851.682428","type":"ibmiot out","z":"85c4deef.74d66","authentication":"apiKey","apiKey":"817a57ff.ab9378","outputType":"cmd","deviceId":"12345","deviceType":"Esp32","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":690,"y":140,"wires":[]},{"id":"c70c9095.c4a25","type":"ui_group","name":"Group 1","tab":"1dfe94c5.fe6efb","order":1,"disp":true,"width":6},{"id":"817a57ff.ab9378","type":"ibmiot","name":"Smart","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"1dfe94c5.fe6efb","type":"ui_tab","name":"example","icon":"dashboard","order":8,"disabled":false,"hidden":false}]